<!DOCTYPE html> 
<html> 
<head>
<meta name="viewport" 
content="width=device-width, initial-scale=1" /> 
<link rel="stylesheet" href="web_res/index.css"> 
<title>Mackin Media Machine</title> <style> html { 
color-scheme: light dark; } body { width: 45vw; 
margin: 0 auto; font-family: Tahoma, Verdana, Arial, 
sans-serif; } </style> </head> <body> <br>

<h1 class="banner">
      <div id="w">Welcome</div>
      <div id="tt">to the</div>
      <div id="mmm">Mackin Media Machine!</div>
</h1>

<br>

<p>

        <ul id="links">
        <li><a>Books</a></li>
        <li><a>TV</a></li>
        <li><a>Movies</a></li>
        <li><a>Music</a></li>
        <li><a>Photos</a></li>
        </ul>
    <br>

</p>

<br>

<img
  src="web_res/baby_and_cats.png"
  height="100%" width="100%" />

<br>

</body>

<br>

<i id="footer">
    Made With love by
    <br>
    <a href="http://Johnluthermackin.xyz">John L Mackin</a>
</i>

</html>
